html,
* {
    margin: 0;
    padding: 0
}
body{overflow: hidden;}
.bd{
    width: 100%;
    height: 768px;
    background:url(https://gitee.com/two_nine/blogpic/raw/master/background-1.jpg);
    animation: go 100000s linear 0s 1 running;
    overflow: hidden;
    .tips{
        width: 12.5rem;
        height: 6.25rem;
        background-color: pink;
    }
}
.demo {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
h1 {
    margin: 150px auto 30px auto;
    text-align: center;
    font-family: 'Roboto';
}

@keyframes go{
    0%{background-position: 6000000px 0;}
    100%{background-position:0 0;}
}
