html,
* {
    margin: 0;
    padding: 0
}
body{overflow: hidden;}
.bd{
    width: 100%;
    height: 45.9375rem;
    background:url(https://gitee.com/two_nine/blogpic/raw/master/background-1.jpg);
    animation: go 100000s linear 0s 1 running;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .tips{
        width: 31.25rem;
        height: 21.875rem;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 1.875rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        transition: all .5s;
        //保存3D样式
        transform-style: preserve-3d;
        .topTips{
            width: 40%;
            height: 30%;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            justify-content: center;
            font-weight: 900;
            font-family: 'ziti';
           transition: all .5s;
        }
        .boxInput{
            width: 50%;
            height: 10%;
            background-color: #d4c7e3;
            margin-bottom: 10%;
            border: 0;
            input{
                //保存3D样式
                transform-style: preserve-3d;
                width: 100%;
                height: 100%;
                background-color: #fff;
                text-indent: 10px;
                transition: all .5s;
                border: 1px solid #e7e7e7;
                font-size: 20px;
                font-family: 'ziti';
            }
        }
        .boxButton{
            width: 50%;
            height: 10%;
            button{
                //保存3D样式
                transform-style: preserve-3d;
                width: 100%;
                outline: 0;
                border: 0;
                color: #fff;
                background: linear-gradient(45deg,#e53935,#e35d5b);
                position: relative;
                height: 87%;
                font-family: 'ziti';
                font-size: 20px;
                font-weight: 900;
                transition: all .5s;
                .role{width: 100%;}
                .role::before,.role::after{
                    content: "";
                    width: 100%;
                    height: 1.625rem;
                    background: linear-gradient(45deg,#e2231e,#df4745);
                    position: absolute;
                    left: 0;
                    transform-origin: 0 0; transform: rotateZ(0deg) rotateX(-90deg) ;
                }
                .role::before{
                    top: 0;
                }
                .cloum{width: 100%;}
                .cloum::before,.cloum::after{
                    content: "";
                    width: 1.8125rem;
                    height: 100%;
                    background-color: #e53935;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform-origin: 100% 100%;
                    transform: rotateX(90deg) rotateY(90deg);
                }
                .cloum::after{
                    left: 0;
                    transform-origin: 0 0;
                    transform: rotateX(-90deg) rotateY(-90deg);
                }
                .cloum::before,.cloum::after{
                    border-bottom: 0;
                }
            }
        }
    }
    .tips::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateZ(-100px);
        border-radius: 1.875rem;
        background-color: #d4c7e3;
        opacity: 0.8;
    }
    .tips:hover{
        transform: rotateX(20deg) rotateY(-30deg);
        .topTips{
            text-shadow: 5px 5px 4px #aa9fb6;
        }
        .boxInput{
            input{
                transform: translateZ(26px);
                border: 1px solid #e77371;
            }
        }
        .boxButton{
            button{
                transform: translateZ(26px);
            }
            button:hover{
                transform: translateZ(4px);
                cursor: pointer;
            }
        }
    }
}
.demo {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
h1 {
    margin: 150px auto 30px auto;
    text-align: center;
    font-family: 'Roboto';
}
@keyframes go{
    0%{background-position: 6000000px 0;}
    100%{background-position:0 0;}
}
@keyframes entry{
    0%{
        right: 0;
        width: 0;
        height: 0;
    }
    50%{
        width: 50%;
    }
    100%{
        right:100%;
        width: 0;
        height: 100%;
    }
}
@font-face{
    font-family: 'ziti';
    src: url(../IndieFlower.ttf);
}